<template>
	<div class="detail">
		<div>
			<div class="breadcrumb-wrap">
				<a href="/history" class="breadcrumb">История</a>
				<a class="breadcrumb">
					Расход
				</a>
			</div>
			<div class="row">
				<div class="col s12 m6">
					<div class="card red">
						<div class="card-content white-text">
							<p>Описание:</p>
							<p>Сумма:</p>
							<p>Категория:</p>

							<small>12.12.12</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Detail"
	}
</script>

<style scoped>

</style>