<template>
	<div class="app-main-layout">
		<nav-bar
			@toggleMenu="isOpen = !isOpen"
		/>
		<side-bar
			v-model="isOpen"
		/>
		<main class="app-content" :class="{full: !isOpen}">
			<div class="app-page">
				<router-view />
			</div>
		</main>

		<div class="fixed-action-btn">
			<a class="btn-floating btn-large blue" href="#">
				<i class="large material-icons">add</i>
			</a>
		</div>
	</div>
</template>

<script>
import NavBar from "@/components/app/Navbar";
import SideBar from "@/components/app/Sidebar";

export default {
	name: "MainLayout",
	data: () => ({
		isOpen: true
	}),
	components: {NavBar, SideBar},
}
</script>

<style scoped>

</style>